[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eth-account = "==0.5.9"
web3 = "==5.28.0"
click = "*"
eth-tester = "*"
py-evm="*"
vyper = "*"
lark = "*"
python-dotenv = "*"

#test
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-forked = "*"
pytest-randomly = "*"
pytest-timeout = "*"
pytest-watch = "*"
pytest-repeat = "*"
pytest-rerunfailures = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
