eth_account==0.5.9
web3==5.31.2
click
eth-tester
eth-utils==1.10.0
trie==2.0.0a5
py-evm==0.5.0a3
vyper
lark
python-dotenv
etherscan-python
cryptography

# near
py-near
ed25519
aiohttp
pyonear
black
mypy
Sphinx
sphinx-rtd-theme
base58
pydantic

# test
flake8
pytest
pytest-cov